.header-actions-btn {
    .icon {
        color: transparent;
        width: 16px;
        height: 16px;

        & > svg {
            fill: none;
            top: 0.14em;
        }

        &-bag {
            width: 19px;
            height: 19px;
            & > svg {
                fill: none;
                top: 0.35em;
            }
        }

        &-stack {
            color: $sw-text-color;
        }
    }

    &:hover {
        color: transparent;

        .icon {
            opacity: 0.7;
            color: transparent;
        }
    }
}